.container{
    width: 100%;
    height: 100vh;
    background-color: red;
    
}
.sub_container{
    background-color: blue;
    width: 80vw;
    height: 80vh;
  margin: auto;
}
.conatiner_header{
    background-color: blueviolet;
    width: 70vw;
    height: 70vh;
   text-align: center;
   margin: auto;
}

